@charset "utf-8";
/* CSS Document */

body {

}

#homescrn {
	text-align: center;
	font-size: 1em;
	margin: 0 auto;
	margin-top: 5%;
}

#logo {
	width: 55%;	
}

#break {
	margin: 15% 0% 15% 0%;
	height: 1px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
}

#minibreak {
	margin: 5% 0% 5% 0%;
	height: 1px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
}

#new {
	width: 100%;
}

#size {
	text-align: center;
	margin: 0 auto;
}

#size img {
	width: 95%;	
}

#size h5 {
	text-align: left;
	margin-left: 5%;
}

.login {
	padding: 5%;
	text-align: center;	
}

.login a {
	color: #24A5B8;
	text-decoration: none;	
}

#shirt {
	text-decoration: none;
	color: #24A5B8;
	margin: 3%;
}

#tshirt {
	text-align: center;	
}